@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
html {
  height: 100%;
}
body {
  font-family: "PT Sans", sans-serif;
  color: black;
  background-color: #f2f2f2;
  font-size: 24px;
  line-height: 28px;
  height: 100%;
  margin: 0;
  padding: 0;
}
.container {
  font-family: "PT Sans", sans-serif;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  min-height: 100%;
}
/*Header*/
.logo-link {
  position: relative;
  z-index: 1;
}
.active-link::before {
  display: block;
  width: calc(100% - 32px);
  height: 2px;
  background-color: #756257;
  position: absolute;
  bottom: -1px;
  content: "";
  left: 16px;
}
.logo-page-header {
  padding-left: 70px;
  padding-right: 28px;
}
.page-header {
  color: black;
  background-color: #fffff;
  height: 64px;
}
.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}
.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 507px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.navigation-user {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  margin-left: auto;
}

.navigation-link {
  position: relative;
  border-radius: 4px;
  display: block;
  padding: 20px 16px 20px 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: black;
  background-color: #fffff;
  text-decoration: none;
}
.navigation-link-link {
  font-size: 16px;
  line-height: 20px;
  background: #756157;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  padding: 8px 34px 8px 34px;
}
.navigation-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}
.navigation-link-search {
}
.navigation-item-love {
  margin-right: 20px;
}
.navigation-item-button {
}
.navigation-link-favourites {
  position: relative;
}
.numbers {
  position: absolute;
  display: inline-block;
  background-color: #7db54f;
  border-radius: 10px;
  color: white;
  bottom: 20px;
  width: 20px;
  height: 20px;
  font-size: 10px;
  text-align: center;
}
/*Main*/
.main-index-section {
  background-image: url(../images/index-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  min-height: 485px;
  position: relative;
}
.main-index-section::after {
  content: "";
  width: 100%;
  height: 57px;
  background-image: url(../images/about.svg);
  background-repeat: no-repeat;
  position: absolute;
  bottom: 6px;
  left: 0;
}
.logo {
  padding: 51px 371px 82px 371px;
}

.main-index {
  text-align: center;
  color: black;
  background-color: #fffff;
  flex-grow: 1;
}

.main-index-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  padding: 0;
  margin-top: 64px;
  font-weight: 700;
  margin-bottom: 26px;
}
.main-index-description {
  font-weight: 400;
  margin-bottom: 88px;
  font-size: 22px;
  line-height: 26px;
  list-style-type: none;
  margin-top: 26px;
}
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.advantages-item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  box-sizing: border-box;
  min-height: 384px;
  padding: 20px 20px;
}
.advantages-item-wide {
  display: flex;
}
.advantages-item-wide-reverse {
  flex-direction: row-reverse;
}
.advantages-item {
  background-color: #82b3d3;
  color: white;
}
.advantages-item-square,
.advantages-item-tourist {
  background-color: rgba(131, 179, 211, 0.12);
  color: black;
}
.adantages-item-road {
  background-color: rgba(131, 179, 211, 0.2);
  color: black;
}
.advantages-description {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  width: 230px;
}
.advantages-title {
  font-size: 24px;
  position: relative;
  margin-top: 0;
  margin-bottom: 62px;
  font-weight: 700;
  text-transform: uppercase;
}
.advantages-title::after {
  display: block;
  position: absolute;
  left: 50%;
  bottom: -30px;
  content: "";
  width: 60px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
  transform: translateX(-50%);
}
.advantages-item-square .advantages-title:after,
.adantages-item-road .advantages-title:after,
.advantages-item-tourist .advantages-title:after {
  background-color: rgba(0, 0, 0, 0.3);
}
.main-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 64px;
  margin-bottom: 20px;
}
.main-description {
  font-weight: 400;
  font-size: 22px;
  margin-bottom: 62px;
  margin-top: 0;
}
.services-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.services-item-container {
  width: 230px;
  min-height: 223px;
  padding: 81px 85px;
}
.services-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 29px;
}
.services-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin-top: 0;
  margin-bottom: 0;
}
.services-item {
  background-color: rgba(131, 179, 211, 0.12);
}
.services-item-food {
  background-color: white;
}
.search {
  padding-top: 96px;
  padding-bottom: 96px;
}
.search-wrapper {
  width: 592px;
  height: 214px;
  margin: 0 auto;
  text-align: center;
}
.search-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 20px;
}
.search-description {
  margin-bottom: 60px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.navigation-search-link {
  padding: 8px 50px;
  text-decoration: none;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffff;
  background-color: #756157;
}
.subscribe-container {
  color: white;
  width: 684px;
  margin: 0 auto;
}
.subscribe {
  padding-top: 96px;
  padding-bottom: 104px;
  background-image: url(../images/Subscribe.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.subscribe-title {
  margin-top: 0;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
}
.subscribe-description {
  margin-bottom: 0;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}
.subscribe .button {
  border-radius: 0 4px 4px 0;
  border: none;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: white;
  background-color: #82b3d3;
  padding: 8px 40px;
}
.subscribe-input {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  border-radius: 4px 0 0 4px;
  border: none;
  width: 452px;
  padding-left: 20px;
  padding-top: 14px;
  padding-bottom: 14px;
  color: black;
}
.subscribe-form {
  display: flex;
  width: 684px;
  margin: 0 auto;
  padding-top: 54px;
}
/*Footer*/
.footer-contacts-phone {
  color: black;
  text-decoration: none;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
  margin-left: 28px;
}
.footer-contacts-phone:hover {
  color: #756157;
}
.footer-contacts-phone:focus {
  color: #756157;
}
.footer-contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}
.page-footer {
  height: 120px;
}
.page-footer-container {
  padding: 40px 70px 30px 70px;
  margin: 0 auto;
  display: flex;
}
.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.footer-social-item {
  width: 47px;
  height: 40px;
}
.button-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 40px;
  color: #83b3d3;
  box-sizing: border-box;
}
.button-link:hover {
  color: #68a2ca;
}
.button-link:focus {
  color: #68a2ca;
}
.button-link:active {
  color: rgba(104, 162, 202, 0.3);
}
.footer-social {
  width: 190px;
  margin-right: 42px;
}
.footer-adress {
  margin-left: auto;
  max-width: 120px;
}
.footer-contacts {
  margin: 0 auto;
}
.footer-adress-text {
  display: block;
  color: #000000;
  margin-top: 8px;
}
.footer-adress-text:hover {
  color: #756157;
}
.footer-adress-text:focus {
  color: #756157;
}
.footer-adress-text:active {
  color: rgba(117, 97, 87, 0.3);
}
