@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-size: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-size: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
html {
  height: 100%;
}
body {
  font-family: "PT Sans", sans-serif;
  color: black;
  background-color: #f2f2f2;
  font-size: 24px;
  line-height: 28px;
  height: 100%;
  margin: 0;
  padding: 0;
}
.container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  min-height: 100%;
}
/*Header*/
.logo-page-header {
  padding-left: 70px;
  padding-right: 28px;
}
.page-header {
  color: black;
  background-color: #fffff;
  height: 64px;
}
.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}
.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 507px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.navigation-user {
  max-width: 300px;
  margin-left: auto;
}

.navigation-link {
  display: block;
  padding: 20px 16px 20px 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: black;
  background-color: #fffff;
  text-decoration: none;
}
.navigation-link-link {
  font-size: 16px;
  line-height: 20px;
  background: #756157;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  padding: 8px 34px 8px 34px;
}
/*Main*/
.main-index-section {
  background-image: url(../images/index-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  min-height: 485px;
}
.logo {
  padding: 51px 371px 82px 371px;
}

.main-index {
  text-align: center;
  color: black;
  background-color: #fffff;
  flex-grow: 1;
}

.main-index-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}
.main-index-description {
  font-size: 22px;
  line-height: 26px;
  list-style-type: none;
}
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.advantages-item-container {
  width: 230px;
  min-height: 160px;
  padding: 112px 85px;
}
.advantages-item-wide {
  display: flex;
}
.advantages-item-wide-reverse {
  flex-direction: row-reverse;
}
.advantages-item {
  background-color: #82b3d3;
  color: white;
}
.advantages-item-square,
.advantages-item-tourist {
  background-color: rgba(131, 179, 211, 0.12);
  color: black;
}
.adantages-item-road {
  background-color: rgba(131, 179, 211, 0.2);
  color: black;
}
.advantages-description {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 18px;
  line-height: 21px;
}
.advantages-title {
  margin-top: 0;
}
.services-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.services-item-container {
  width: 230px;
  min-height: 223px;
  padding: 81px 85px;
}
.services-title {
  font-size: 24px;
  line-height: 28px;
}
.services-description {
  font-size: 18px;
  line-height: 21px;
  margin-top: 0;
  margin-bottom: 0;
}
.services-item {
  background-color: rgba(131, 179, 211, 0.12);
}
.services-item-food {
  background-color: white;
}
.search-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
.search-description {
  font-size: 22px;
  line-height: 26px;
}
.navigation-search {
  background-color: #756157;
  color: black;
}

.navigation-search-link {
  text-decoration: none;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffff;
  background-color: #756157;
}
.subscribe {
  background-image: url(../images/Subscribe.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.subscribe-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
.subscribe-description {
  font-size: 22px;
  line-height: 26px;
}
.subscribe .button {
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: white;
  background-color: #82b3d3;
  padding: 8px 50px 8px 50px;
}
.subscribe-input {
  padding: 14px 345px 14px 20px;
}
/*Footer*/
.footer-contacts-phone {
  color: black;
  text-decoration: none;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
}
.page-footer {
  height: 120px;
}
.page-footer-container {
  padding: 40px 70px 30px 70px;
  margin: 0 auto;
  display: flex;
}
.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.footer-social-item {
  width: 47px;
  height: 40px;
}
.footer-social {
  width: 190px;
  margin-right: 42px;
}
.footer-adress {
  margin-left: auto;
  max-width: 120px;
}
.footer-contacts {
  margin: 0 auto;
}
